@media(max-width: 1120px){
    .rect_grey2_3{
        transform: scale(0.7)
        }
    .header_background_triangle{
            right: 0px;
            top: 300px;
        }
    
}
@media(max-width: 1120px){
    .header_background_triangle{
    right: 0px;
    top: 200px;
        }
    .mrblock{
        transform: scale(0.8);
        }
}
@media(max-width: 1020px){
    .header_background_triangle {
        right: 0px;
        top: 100px;
        }
    .mrblock{
        transform: scale(0.8);
        }
    .header_background_triangle{
        right: 0px;
        top: 90px;
        }
}   
@media(max-width: 900px){
    .header_background_triangle {
        right: 0px;
        top: 86px;
        }
    .mrblock{
        transform: scale(0.75);
        }
}
    @media(max-width: 800px){
        html{
               font-size: 12px; 
        }
        .header_background_triangle {
            right: 0px;
            top: 70px;
        }
        .mrblock{
            transform: scale(0.7);
        }
}