
body{
    font-family: 'Ubuntu', sans-serif;
     
}

.wrapper{
    color: #000000;
    max-width: 100%;
    height: 280px;
    position: relative;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}
 
.wrapper2{
    max-width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.wrapper3{
    position: relative;
    width: 100%;
    height: 800px;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.wrapper4{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #112132;
}
.wrapper_5{
    position: relative;
    width: 100%;
    height: 800px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
}
.wrapper_6_footer{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.symbol_mark5{
    position: relative;
    display: flex;
    justify-content: center;
    top: 555px;
    right: 40px;
    padding-bottom: 271px;
}
.header_wgite_square_left_800{
    width: 652px;
    height: 583px;
    background: rgba(255, 255, 255, 1);
    z-index: -1;
    position: absolute;
    transform: rotate(45deg);
}
.header_background_triangle{
    position: absolute;
    z-index: -1;    
    display: flex;
    justify-content: flex-end;
    top: 300px;
    border-style: solid;
    border-width: 11em 27.5em 25.5em 21.5em;
    border-color: transparent white transparent transparent;
    right: 0;
}

.body-background{
    position: absolute;
    background: url(../css/img/sea_background.png) no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 1400px;
    z-index: -2;
    margin-top: -356px;
    
}

.contacts{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    align-items: baseline;
    text-transform: uppercase;
}

.social{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h1{
    font-family: 'Puritan', sans-serif;
}
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    z-index: 1;
}
.logo h1{
    display: flex;
    justify-content: space-around;
    font-size: 60px;
    padding-left: 15px;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    text-transform: uppercase; 
    z-index: 1 ;
}
.menu ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
    width: 40%;
    list-style: none;
    z-index: 1; 
}

.menu-link{
    color: #000000;
    text-decoration: none;
}
.menu_link_overline{
    text-decoration: overline;
    list-style: none;
}
/*----------------1-st-rectangle-section-----------------------------*/
.mrblock{
    position: absolute;
    display: flex;
}
.girl_rect{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 660px;
    transform: rotate(-45deg) scale(0.70);
    overflow: hidden;
    
}
.girl_rect > img{
    transform: rotate(45deg) scale(1.2);
    height: 700px;
    
}
.girl_blok{
    position: absolute;
    display: flex;
    bottom: 755px;
    right: 235px;
}
.rectangle-inpic1{
    position: absolute;
    display: flex;
    align-self: flex-start;
    left: 579px;
    transform: rotate(45deg);
    right: -39px;   
} 
.rectangle-inpic2{
    position: absolute;
    display: flex; 
    align-self: flex-end;
    transform: rotate(44.4deg);
    left: -47px;
    top: 445px;
} 

/*-----------------brown-rectangle---------------------*/
.rectangle-btn-text{
    display: flex;
    justify-content: center;

}
.brown-rectangle{
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    right: 1px;
    top: -346px;
    transform: scale(0.85);
    
}
.ract-bro-2{
    position: absolute;
    display: flex;
    justify-content: center;
    
}
.ract-bro-1{
    position: absolute;
    display: flex;
    justify-content: flex-start;
    transform: rotate(90deg);
    padding-right: 7px;
    padding-bottom: -12px; 
}
/*---------------Text-with-button-in-rectangle-----------------------*/
.ract-br-text-btn{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: center;
    flex-wrap: wrap;
    margin-top: 15px;
    z-index: 1;
     
}
.ract-br-text-btn p{
    display: flex;
    align-items: center;
}
.ract-br-text-btn button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    top: 53px;
    background-color: #BA9898;
    text-transform: uppercase;
    width: 182px;
    height: 45px;
    
}
/*-------------grey-rectangle-menu-inside------------------*/

.ract-gray-menu{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 305px;
    left: 472px;

}
.menu-in-grey-rect{
    position: absolute;
    display: flex;
    align-self: flex-start;
    text-decoration: none;
    list-style: none;
    z-index: 1;
    
}
.menu-in-grey-rect li{
    display: flex;
    justify-content: center;
    height: 20%;
    margin-top:16.5px;
    
}

.rect-mini-grey{
    position: absolute;
    display: flex;
    justify-content: center;
    right: -114.5px;
    top: 118.5px;
}
/*----------------------------------------------*/
.p_under_symbol{
    display: flex;
    justify-content: center;
    color: white;
    list-style: none;
    padding-top: 305px;
    font-size: 24px;
}

.bloks{
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
   
}
.bloks p{
    height: 50px;
    width: 85%;
    color: white;
    justify-content: space-around;
    padding-left: 88px;
    font-size: 14px;
    padding-top: 22px;


}


.blok_1 {
    width: 450px;
    height: 250px;
    background: rgba(0,0,0,0.4);
    z-index: 1;
    
}

.rect_small_white_1{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 5px 5px; /* размер и форма */ 
    border-color: white;
    transform: rotate(45deg);
    margin-left: 8px;
    margin-right: 8px;
    
}
.blok_2 {
    width: 450px;
    height: 250px;
    background: rgba(0,0,0,0.4);
   z-index: 1;
    

  }
  .rect_small_white_2{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 5px 5px; /* размер и форма */ 
    border-color: white;
    transform: rotate(45deg);
    margin-left: 8px;
    margin-right: 8px;
  }
  .blok_3 {
    width: 450px;
    height: 250px;
    background: rgba(0,0,0,0.4);
    z-index: 1;
  }
  .arrow_1{
    padding-left: 10px;


  }

  /*----------section-of-rectangles-2--------------------------*/


.ractangle_section{
    display: flex;
    position: relative;
    justify-content: center;
    height: 665px;

    
}
.cap_pic{
    position: absolute;
    display: flex;
    justify-content: flex-start;
    left: -362px;
    bottom: 129px;
}  
.rect_grey2_3{
    position: absolute;
    top: -46px;
    transform: scale(0.81);
    padding-right: 298px;

}

/*-----------brown_rect---------------*/
.rect_brown2_6{
    position: absolute;
    display: flex;
    justify-content: center;
    right: -64px;
    top: 55px;
    
}
.child_brown2_6{
    position: absolute;    
    display: flex;
    justify-content: center;
    top: 28px;

}
.mark_4_white{
    position: absolute;
    display: flex;
    align-self: center;
    top: 148px;
}
.white_uppercase_text{
    position: absolute;
    text-transform: uppercase;
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: center;
    bottom: 105px;
}

/*-------------------*/
.pic_arrow_rect{
    position: absolute;
    display: flex;
    justify-content: center;
    transform: rotate(45deg)scale(0.55);
    overflow: hidden;
    width: 650px;
    height: 650px;
    top: 186px;
    right: 597px;
    
}

.pict_arrow{
    position: absolute;
    transform: rotate(-45deg)scale(1.79);
    height: 65%;

    
}
.ract_small_arrow{
    position: absolute;
    transform: rotate(45deg);
    align-self: flex-end;
    left: -26px;
    bottom: -26px;
}

/*-----------woman--teacher-------------------*/

.tutor{
    position: absolute;
    display: flex;
    justify-content: center;
    transform: rotate(45deg) scale(1);
    width: 230px;
    overflow: hidden;
    height: 230px;
    top: 343px;
    right: 285px;
}
.tutor_img{
    position: absolute;
    transform: rotate(-45deg) scale(1.1);
    height: 270px;
    width: 334px;
}
.tutor_rect_black{
    position: absolute;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    left: -18px;
    top: -14px;
}
.tutor_rect_white{
    position: absolute;
    left: -3px;
    top: 20px;
    
}
/*-------------man--teacher--------------*/

.man{
    position: absolute;
    display: flex;
    justify-content: center;
    transform: rotate(45deg) scale(0.8);
    overflow: hidden;
    width: 300px;
    height: 300px;
    top: 308px;
    right: -113px;
}
.man_pict{
    position: absolute;
    transform: rotate(-45deg) scale(1.7);
    display: flex;
    justify-content: center;
    right: 16px;
    top: 5px;
}
.rect_small_man{
    position: absolute;
    top: 149px;
    right: 233px;
}

/* ----------class-pict---------------- */
.classroom_section{
    position: absolute;
    display: flex;
    width: 400px;
    height: 400px;
    
}
.pict_classroom{
    position: absolute;
    display: flex;
    overflow: hidden;
    transform: rotate(45deg) scale(1.1);
    width: 100%;
    height: 100%;
    top: 87px;
    left: 157px;
}
.pict_cl{
    transform: rotate(-45deg);
    position: absolute;
    bottom: 138px;
    right: 40px;

}
.gradient_sea{
   position: absolute;
    background: linear-gradient(to bottom, rgba(30, 30, 30, 0.8) 0%, rgba(16, 16, 16, 0) 0%, rgba(16, 16, 16, 0) 30%, rgba(2, 2, 2, 0.6) 100%);
    width: 100%;
    height: 610px;
  
}   

/* ----------menu_text_grey_rect--------- */
.menu_text_grey_rect{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    bottom: 126px;
    text-align: center;
    left: 137px;
    align-items: center;
}
/* -----------sea_2_second_aria-------------------- */
.field_sea{
    position: absolute;
    background: url(../css/img/sea_background.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 900px;
    z-index: -2;
    
}
.gradient_sea_2{
    position: absolute;
    background: linear-gradient(180deg, rgba(30, 30, 30, 0.8) 5%, rgba(16, 16, 16, 0) 54.14%, rgba(16, 16, 16, 0) 54.15%, rgba(20, 20, 20, 0.6) 70%);
    width: 100%;
    height: 900px;
    z-index: -1;
}   

.mark_sea2{
    position: absolute;   
    display: flex;
    justify-content: center;
    top: 90px;
   
}
.talk_abour_us{
    position: absolute;   
    display: flex;
    justify-content: center;
    color: white;
    top: 245px;
}


/* ---------black_section_carusel_menu-------------------- */
.single_blok{
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 895px;
    height: 325px;
    background: rgba(0,0,0,0.4);
    top: 380px;
}

.vector_left{
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    padding-left: 15px;
}
.p_ingebor{
    position: absolute;
    display: flex;
    top: 43px;
    color: white;
}
.text_center{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 71%;
    color: white;
    text-align: center;
}

.vector_right{
    position: absolute;
    display: flex;
    justify-content: center;
    right: 0;
    padding-right: 15px;
}
.tabs_down{
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 28px;
    z-index: 1;
}

.rect_small_white_2{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 5px 5px; /* размер и форма */ 
    border-color: white;
    transform: rotate(45deg);
    margin-left: 10px;
    margin-right: 10px;
}

/* -----------footer_aria---- */
.footer_background{
    position: relative;
    background: url(../css/img/footer.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 400px;
   

}
.section_of_three{
    position: relative;
    display: flex;
    justify-content: center;
    
}

.logo_bottom{
    position: absolute;
    display: flex;
    align-items: center;
    padding-left: 15px;

}
.logo_bottom h1{
    display: flex;
    justify-content: space-around;
    font-size: 45px;
    padding-left: 15px;
    font-family: 'Puritan', sans-serif;
    color: white;
}

.section_of_three p{
    color: white;
}
.left_aria{
    position: absolute;
    display: flex;
    justify-content: flex-start;
    left: 25px;
    top: 215px;
    
}
.text_under_logo_bottom{
    position: absolute;
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    right: -116px;
    top: 67px;

}
.middle_area{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 215px;
}
.social_footer{
    display: flex;
    align-items: center; 

}
.right_area{
    position: absolute;
    display: flex;
    justify-content: center;
    right: 0;
    padding-right: 22px;
    top: 215px;
    width: 300px;
    flex-wrap: wrap;
    justify-content: flex-start;
}



.norn_logo_div{
    top: -15px;
    display: flex;
    position: relative;
   
}
.phone_numb_footer{
    position: absolute;
    top: 600px;
    padding-left: 24px;
}

/* ------map_footer----- */
.map_footer{
    display: flex;
    justify-content: center;
    background: url(../css/img/map.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 400px;
    position: relative;
    
    
}
.arrow_map{
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: center;
    padding-right: 876px;
}

/* -IIIIIIIIIII--second-page-aria---- */

.wrapper_courses{
    max-width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
}


 .logo_courses{
    transform: rotate(-45deg);
    padding-top: 153px;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .rect_brown_top_logo{
    width: 230px;
    height: 230px;
    background-color: #BA9898;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
}
.blok_logo{
    position: absolute;
    display: flex;
    top: -123px;
    left: 86px;
}

 /* ------MENU_COURSES----- */
.menu_courses{

     display: flex;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
    z-index: 1;
    padding-top: 30px;
    font-size: 14px;  
}
.menu_courses > ul{
    display: flex;
    justify-content: space-between;
    width: 31%;
    text-decoration: none;
    list-style: none;
}
.social_courses{
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    align-items: center;
    width: 500px;   
}

 .background_main{
    display: flex;
    justify-content: center;
    background: linear-gradient(181.22deg, #FFFFFF 1.81%, rgba(255, 255, 255, 0.91) 9.04%, rgba(255, 255, 255, 0.41) 31.96%, rgba(160, 166, 173, 0.646) 37.7%, #112132 98.19%), url(../css/img/yuriy-garnaev-395878-unsplash.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
    top: 70px;

 }
 
.courses_9_rectangles{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    left: 360px;
    position: absolute;
}
.text_top_header {
    padding-left: 163px;
    padding-top: 130px;
    font-size: 23px;
}

 .rect_1{
    width: 156px;
    height: 156px;
    background-color: #BACBDC;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
.rect_1 h2{
    transform: rotate(-45deg);
    font-size: 20px;
    position: absolute;
    top: 35px;
    left: 4px;
}
.rect_1 p{
    transform: rotate(-45deg);
    font-size: 12px;
    text-align: center;
    position: relative;
    top: 22px;
    left: 22px;
}
.rect_1 img{
    position: absolute;
    transform: rotate(-45deg);
    right: 10px;
    bottom: 19px;
}
.rect_2{
    display: flex;
    position: absolute;
    left: 98px;
    bottom: 94px;
}
.background_rect_2{
    width: 220px;
    height: 220px;
    background: linear-gradient(0deg, rgba(17, 33, 50, 0.61), rgba(17, 33, 50, 0.61)), url(../css/img/reykjavik3.png);
   -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);  
   clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);  
}
.rect_2 p{
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    z-index: 1;
    position: absolute;
    align-self: center;
    left: 58px;
    top: 128px;
}
.rect_3{
    display: flex;
    bottom: -3px;
    position: absolute;
    left: 227px;
    top: -31px;
}
.background_rect_3{
    width: 220px;
    height: 220px;
    background: linear-gradient(0deg, rgba(17, 33, 50, 0.61), rgba(17, 33, 50, 0.61)), url(../css/img/stockholm.png);
   -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);  
   clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);  
}
.rect_3 p{
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    z-index: 1;
    position: absolute;
    align-self: center;
    left: 68px;
    top: 137px;
}
.rect_red_45{
    width: 45px;
    height: 45px;
    background: #432132;
    display: flex;
    position: absolute;
    transform: rotate(45deg);
    bottom: 228px;
    left: 315px;
}
.rect_4{
    display: flex;
    position: absolute;
    left: 356px;
    bottom: 95px;
}
.background_rect_4{
    width: 220px;
    height: 220px;
    background: linear-gradient(0deg, rgba(17, 33, 50, 0.61), rgba(17, 33, 50, 0.61)), url(../css/img/helsinki.png);
   -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);  
   clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);  
}
.rect_4 p{
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    z-index: 1;
    position: absolute;
    align-self: center;
    left: 73px;
    top: 137px;
}
.rect_grey_80{
    width: 80px;
    height: 80px;
    background: #435465;
    display: flex;
    position: absolute;
    transform: rotate(45deg);
    bottom: 234px;
    left: 551px;
}
.rect_white_37{
    width: 37px;
    height: 37px;
    background: white;
    display: flex;
    position: absolute;

 }
.rect_black_27{
    width: 27px;
    height: 27px;
    background: black;
    display: flex;
    position: absolute;
}
.rect_5{
    display: flex;
    position: absolute;
    left: 607px;
    bottom: 95px;
}
.background_rect_5{
    width: 220px;
    height: 220px;
    background: linear-gradient(0deg, rgba(17, 33, 50, 0.61), rgba(17, 33, 50, 0.61)), url(../css/img/kopengaagen.png);
   -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);  
   clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);  
}
.rect_5 p{
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    z-index: 1;
    position: absolute;
    align-self: center;
    left: 77px;
    top: 137px;
}

 /* --section_6_blocks----- */

 .container_6_blocks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 222px;
}

.container_text_blocks{
    width: 288px;
    height: 200px;
    padding-left: 90px;
    font-size: 12px;
    position: absolute;
    padding-top: 38px;
    color: white;
}

.block_1{
    width: 380px;
    height: 180px;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    margin-right: 10px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

 .block_2{
    width: 380px;
    height: 180px;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    margin-right: 10px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.block_3{
    width: 380px;
    height: 180px;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    margin-right: 10px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.block_4{
    width: 380px;
    height: 180px;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    margin-right: 10px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.block_5{
    width: 380px;
    height: 180px;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    margin-right: 10px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.block_6{
    width: 380px;
    height: 180px;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    margin-right: 10px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.h2_of_6_blocks{
    display: flex;
    position: absolute;
    justify-content: center;
    top: -70px;
    text-transform: uppercase;
    font-size: 21px;
    align-self: flex-start;
}

.rect_white_20_block1{
    width: 20px;
    height: 20px;
    background: white;
    transform: rotate(45deg);
    left: 38px;
    position: relative;
}
.rect_white_20_block2{
    width: 20px;
    height: 20px;
    border: 2px white solid;
    transform: rotate(45deg);
    left: 38px;
    position: relative;
}
.line_for_rect_up{
    position: absolute;
    width: 25px;
    height: 0px;
    left: 3px;
    border: 1px solid #FFFFFF;
    /* transform: rotate(-44.52deg); */
    display: flex;
    bottom: 26px;

}
.line_for_rect_down{
    position: absolute;
    width: 25px;
    height: 0px;
    left: 11px;
    border: 1px solid #FFFFFF;
    transform: rotate(-90deg);
    display: flex;
    top: 11px;
    
    }

.line_for_rect_up_oposit{
    position: absolute;
    width: 25px;
    height: 0px;
    right: 15px;
    border: 1px solid #FFFFFF;
    transform: rotate(-90deg);
    display: flex;
    top: 15px;
    
    }
.line_for_rect_down_oposit{
    position: absolute;
    width: 25px;
    height: 0px;
    right: 11px;
    border: 1px solid #FFFFFF;
    transform: rotate(-90deg);
    display: flex;
    top: 11px;
        }
.background_blue_1063{
    height: 1063px;
    width: 100%;
    background: #112132;
    position: relative;
    z-index: -2;
}
.text_header_white_block3{
    position: relative;
    display: flex;
    justify-content: center;
    top: 150px;
    color: white;
    flex-direction: column;
    align-self: self-start;
    align-items: center;
}
.text_header_white_block3>h2{
    text-transform: uppercase;
}
.container_shedulare{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    top: 160px;
}
.shedulare_block{
    width: 380px;
    height: 290px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #BACBDC;
    margin-right: 10px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 25px;
}
.rects_in_column{
    align-items: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.6;
    padding-left: 50px;
    margin-top: -29px;
    /* padding-top: 6px; */
    /* top: 35px; */
    
}
.rect_column_1{
    width: 10px;
    height: 10px;
    background: #BA9898;
    transform: rotate(45deg);
}
.rect_column_2{
    width: 30px;
    height: 30px;
    background: #BACBDC;
    transform: rotate(45deg);
    top: 26px;
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;   
}
.white_in_col2{
    width: 17px;
    height: 17px;
    background: linear-gradient(to bottom, #FFFFFF 9%, rgba(255, 255, 255, 0.1) 100%), #BACBDC;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 14px;
    left: 14px;
    
}
.brown_in_white{
    width: 7px;
    height: 7px;
    background: #432132;
    position: absolute;
}
.rect_column_3{
    width: 30px;
    height: 30px;
    background: #432132;
    position: absolute;
    transform: rotate(45deg);
    top: 53px;
    z-index: -1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.white_in_col3{
    width: 15px;
    height: 15px;
    background: linear-gradient(to bottom, #FFFFFF 9%, rgba(255, 255, 255, 0.1) 100%), #BACBDC;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 16px;
    left: 16px;
}
.rect_column_4{
    width: 35px;
    height: 35px;
    background: #435465;
    position: absolute;
    transform: rotate(45deg);
    top: 83px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.white_in_col4{
    width: 12px;
    height: 12px;
    background: linear-gradient(to bottom, #FFFFFF 9%, rgba(255, 255, 255, 0.1) 100%), #BACBDC;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 24px;
    left: 23px;
}
.rect_column_5{
    width: 30px;
    height: 30px;
    background: #432132;
    position: absolute;
    transform: rotate(45deg);
    top: 122px;
    display: flex;
}
.rect_column_6{
    width: 27px;
    height: 27px;
    background: #778798;
    position: absolute;
    transform: rotate(45deg);
    top: 153px;
    display: flex;
    z-index: -1;
}
.white_in_col6{
    width: 12px;
    height: 12px;
    background: linear-gradient(to bottom, #FFFFFF 9%, rgba(255, 255, 255, 0.1) 100%), #BACBDC;   
}
.rect_column_7{
    width: 20px;
    height: 20px;
    background: #432132;
    position: absolute;
    transform: rotate(45deg);
    top: 202px;
    display: flex;
    
}

.month_of_sheduler{
    display: flex;
    text-transform: uppercase;
    text-decoration: underline;
    flex-direction: row-reverse;
    margin-top: -25px;
    padding-right: 20px;
}
.month_section{
    position: relative;
}
.text_inside_sheduler_blok{
    position: absolute;
    padding-left: 100px;
    font-size: 16px;
    line-height: 0.3;
}
.row_data{
    display: flex;
}
.row_title{
    padding-left: 25px;
    
}
.row_time{
    position: relative;
    padding-left: 65px;
    display: flex;
    font-size: 12px;
}
.white_blok_chosen{
    width: 266px;
    height: 63px;
    background: rgba(255, 255, 255, 0.64);
    position: absolute;
    line-height: 0.9;
    color: #670f0f;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    /*left: 85px;*/
}

.buttons_bottom_right{
    display: flex;
    position: absolute;
    justify-content: flex-end;
    top: 278px;
    left: 0px;

}
.btn_registertogroup{
    width: 180px;
    height: 63px;
    background: #112132;
    margin: 0px 19px 0px 0px;
}

.btn_addtocalendar{
    width: 180px;
    height: 63px;
}
.buttons_bottom_right p{
    color: white;
    text-transform: uppercase;
    list-style: 1h;
}
.btn_bkground{
    background: #112132;
}
/* ____FOOOTER_ARIA_______ */

.footer_aria_courses{
    position: relative;
    display: flex;
    height: 400px;
    width: 100%;
    background: #112132;
    opacity: 0.5;
    color: white;
    justify-content: center;
}
.footer_col1{
    position: absolute;
    display: flex;
    left: 0px;
}
.rect_brown_down_logo {
    width: 225px;
    height: 225px;
    background-color: #BA9898;
    transform: rotate(45deg);
    display: flex;
    position: absolute;
    left: -113px;
    align-self: flex-end;
    top: 129px;
}

.logo_bottom_2{
    position: absolute;
    display: flex;
    align-items: center;
    padding-left: 78px;
    top: 80px;

}
.footer_col2{
    padding-top: 70px;
    position: absolute;
    left: 170px;
}
.footer_col2_middle_p{
    padding: 20px 0px 20px 0px;
}
.footer_col3{
    position: absolute;
    padding-top: 88px;
    padding-left: 120px;
}
.footer_col4{
    position: absolute;
    padding-top: 88px;
    right: 0px;
    padding-right: 20px;
}

